

.victor{
    display: flex;
}

.img{
    width: 300px;
    height: 300px;
    margin-right:108px;
}

#java, #logostore{
    width: 150px;
}

#about, p{margin-top: 15px;}

#java, #logostore{
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
#java{background-color: rgb(238, 238, 238);}
#logostore{background: #232323;}

.text{margin-top: 50px;}
#java:hover, #logostore:hover{
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 8px #00f614;

}

.sub-title{
    color: var(--mainColor);
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
}

.sub-title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 1px;
    background: var(--mainColor);
}

.title{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.sub-para{
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
#about{
    margin-left: 330px;
}

#about .about-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#about .about-row .img-col{
    flex-basis: 40%;
    position: relative;
}
#about .about-row .img-col::before{
    flex-basis: 40%;
    position: relative;
    margin-left: 40px;
}
#about .about-row .img-col img{
    width: 100%;
    border-radius: 10px;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.19);
    
}
#about .about-row .img-col::before{
    content: '';
    position: absolute;
    bottom: -40px;
    left: -50px;
    width: 100%;
    height: 95%;
    background: #70e05144;
    border-radius: 10px;
    z-index: -1;
}
#about .about-row .info-col{
    flex-basis: 55%;
}

#about .about-row.info-col .skills{
    margin-top: 45px;
    width: 100%;
}
#about .about-row .info-col .skills .skill-box{
    margin-bottom: 30px;
}
#about .about-row .info-col .sklls .skill-box .skill-info{
 display: flex;
 justify-content: space-between;
 margin-bottom: 8px;
} 
/* #about .about-row .info-col .skills .skill-box .skill-info h4{
    color: red;
} */

@media only screen and (max-width: 1100px){
   #about{
    margin-left: 0;
   }
}